body {
  background-color: white;
  margin: 0;
  /*display: flex;*/
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
}

/*--------------------- CANVAS ------------------------ */

#canvas {
  /*background-color: black;*/
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  visibility: hidden;
  /*width: 500px;*/
}

/*---------------------INITIAL GAME PAGE ------------------------ */

.container {
  border: 1px solid black;
  background-color: white;
  width: 700px;
  height: 500px;
  /*margin-top: 70px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

.buttonStart {
  text-align: center;
  margin-top: 30px;
}

.elements {
  visibility: hidden;
}

#instructions {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
