body {
  background-color: white;
  margin: 0;
  height: 2000px;
  align-items: center;
}
/*--------------------- CANVAS ------------------------ */

#canvas {
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  visibility: hidden;
}

/*---------------------INITIAL GAME PAGE ------------------------ */

#logo {
  position: fixed;
}

.container {
  background-color: white;
  width: 700px;
  height: 500px;
}

.buttonStart {
  text-align: center;
  margin-top: 30px;
}

.elements {
  visibility: hidden;
}

#instructions {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
